{% extends "base.html" %}
{% load i18n sekizai_tags %}
{% block content %}
<style>
    form{
    float:left;
    }
</style>
<div class="container" style="margin-top:60px">
    {% if vps%}
    <h1>{{vpsobj}}</h1>
    <h1>{{vpsobj.owner}}</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    {% trans " Subdomain" %}
                </th>
                <th>
                    {% trans " IP" %}
                </th>
                <th>
                    {% trans " Status" %}
                </th>
                <th>
                     {% trans "View VNC " %}
                </th>
                <th>
                    {% trans " Actions" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for vp in vps%}
            <tr>
                <td>
                    {{vp.subdomain}}
                </td>
                <td>
                    {{vp.ip}}
                </td>
                <td>
                    {% if vp.status %}
                      {{vp.status.0.capitalize}}: {{vp.status.1.capitalize|default:'Ready'}}
                    {% else %}
                      VPS Not Ready!
                    {% endif %}
                </td>
                <td>
                {% if vp.vnc_link and vp.status and vp.status.0 == 'active' %}
                    <a class="btn btn-default" href="{{vp.vnc_link}}" target="_blank">
                      <span class="glyphicon glyphicon-fullscreen"></span>
                      {% trans "View VPS" %}
                    </a>
                {% else %}
                    VNC not available!
                {% endif %}
                </td>
                <td>
                    {% if vp.status and vp.status.0 == 'active' %}
                      <a class="btn btn-danger" href="vps_action/suspend/{{vp.id}}">
                        <span class="glyphicon glyphicon-pause"></span>
                        {% trans "Suspend" %}
                      </a>
                    {% elif vp.status and vp.status.0 == 'suspended' and vp.status.1 == None %}
                      <a class="btn btn-success" href="vps_action/resume/{{vp.id}}">
                        <span class="glyphicon glyphicon-off">
                        </span>
                        {% trans "Resume" %}
                      </a>
                    {% elif vp.status and vp.status.0 == 'stopped' or vp.status.0 == 'shutoff' %}
                      <a class="btn btn-success" href="vps_action/start/{{vp.id}}">
                        <span class="glyphicon glyphicon-off">
                        </span>
                        {% trans "Start" %}
                      </a>
                    {% endif %}
                    <a class="btn btn-danger" href="vps_action/stop/{{vp.id}}">
                      <span class="glyphicon glyphicon-pause"></span>
                      {% trans "Force Shutdown" %}
                    </a>
                    <a  class="btn btn-warning" href="vps_action/reboot/{{vp.id}}">
                      <span class="glyphicon  glyphicon-refresh"></span>
                      {% trans "Reboot" %}
                    </a>
                    <a type="button" class="btn btn-warning" href="vps_action/freboot/{{vp.id}}">
                      <span class="glyphicon glyphicon-refresh"></span>
                      {% trans "Hard-Reboot" %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Button trigger modal -->
    <a data-toggle="modal" href="#myModal" class="btn btn-primary ">{% trans "Your Orders" %}</a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans "The Orders of " %}{{user.username}}</h4>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{% trans "Username" %}</th>
                  <th>{% trans "Plan"%}</th>
                  <th>{% trans "Start on" %}</th>
                  <th>RAM /MB</th>
                  <th>{% trans "Operating System" %}</th>
                  <th>{% trans "Paid" %}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {%for order in orders%}
                  .
                  <td>{{order.id}}</td>
                  <td>{{order.user}}</td>
                  <td>{{order.plan.flavor.name_en}}</td>
                  <td>{{order.fulfilled_at}}</td>
                  <td>{{order.plan.flavor.ram_mb}}</td>
                  <td>{{order.os_image}}</td>
                  <td>{{order.plan.amount}}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% else %}
    <div class="alert alert-warning">
        <strong>
         {% trans "You don't have any VPSes!" %}
        </strong>
         {% trans "Want to order one?," %}
        <a href="/">
         {% trans "Order Now" %}
        </a>
    </div>
    {% endif%}
</div>
{% endblock %}
