{% block base_content %}
{% load i18n sekizai_tags staticfiles %}
<!--   <header>
    <div class="container">
      <div class="header-box">
        <div class="left">
          <div class="right">
            <nav>
              <ul>
                <li class="current"><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="hosting.html">Hosting</a></li>
                <li><a href="solutions.html">Solutions</a></li>
                <li><a href="support.html">Support</a></li>
                <li><a href="contacts.html">Contacts</a></li>
              </ul>
            </nav>
            <h1><a href="#"><span>Smart</span>Net</a></h1>
          </div>
        </div>
      </div>
      <span class="top-info">24/7 Sales &amp; Support + 1 800 234 5678 &nbsp; l &nbsp; <a href="#">Hot Deals</a> &nbsp; l &nbsp; <a href="#">Search</a></span>
      <form action="/loggingin" id="login-form" method="post">
         {% csrf_token %}
        <fieldset>
          <span class="text">
          <input type="text" value="Username" name="email" onFocus="if(this.value=='Username'){this.value=''}" onBlur="if(this.value==''){this.value='Username'}">
          </span> <span class="text">
          <input type="password" value="Password" name="password" onFocus="if(this.value=='Password'){this.value=''}" onBlur="if(this.value==''){this.value='Password'}">
          </span> <button class="btn btn-primary" type="submit" >login</button> <span class="links"><a href="#">Forgot Password?</a><br/>
          <a href="/register">Register</a></span>
        </fieldset>
      </form>
    </div>
  </header> -->
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" media="all">
      <div class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hgroup" href="/"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">{% trans "Home" %}</a></li>
            <li><a href="/about">{% trans "About" %}</a></li>
            <li><a href="/contact">{% trans "Contact" %}</a></li>
<!--             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <div class="navbar-form navbar-right"><a class="btn btn-default" href="/lang"> 
            عربي<span class="glyphicon glyphicon-globe"></span>
          </a>
          </div>
          {% if user.is_authenticated == False %}
          <form class="navbar-form navbar-right" action="/login/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="User Name" name="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
            <div class="btn-group" >
            <button type="submit" class="btn btn-default" style="font-weight: bold">{% trans "Sign in" %}</button>
          <a  href="/register" class="btn btn-default" style="font-weight: bold"><span style="">{% trans "Register" %}</span></a>
          </div>
          </form>
          {% else %}

                
                  <div class="navbar-header navbar-form navbar-right">
                <form action="/logout/" method="POST">
                  {% csrf_token %}
                    <div class="btn-group">
                      <a class="btn btn-success btn-group-sm" href="/dashboard"><span class="glyphicon glyphicon-cog"></span>{% trans "Go to Dashboard" %} </a> 
                       <button type="submit" class="btn btn-danger btn-group-sm">
                         <span class="glyphicon glyphicon-off">
                         </span>{% trans "logout" %}
                       </button>
                </form>
                    </div>
                   </div>
                   <div class="navbar-header navbar-form navbar-right" >
                     <span style="color: #eee;font-size: 18px;font-weight: bold;line-height: 20px;">{% trans "Welcome" %} {{user}} </span> 
                     </div>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
{% endblock %}