 {% load staticfiles %}
</div></div><div class="domain">
<div class="container">
<div class="row-fluid PageHead">
<div class="span12">
<h1>Search Domain</h1>
<h3>Enter the domain name to register or transfer</h3>
</div>
</div>
<div class="row-fluid">
<div class="span8 offset2">
<div class="input-append">
<input class="span11" id="appendedDropdownButton" type="text" placeholder="yourdomainname">
<div class="btn-group">
<button class="btn dropdown-toggle" data-toggle="dropdown"> .COM <span class="caret"></span> </button>
<ul class="dropdown-menu">
<li><a href="#">.COM</a></li>
<li><a href="#">.IN</a></li>
<li><a href="#">.UK</a></li>
<li><a href="#">.ME</a></li>
</ul>
</div>
</div>
<p> <a href="#" class="btn btn-success btn-large">Search Domain </a> </p>
</div>
</div>
</div>
</div>