 {% load staticfiles %}

    </div>

    <div class="row-fluid PageHead">
        <div class="span12">
            <h1>Testimonials</h1>

            <h3>Kind words from our valuable customers</h3>
        </div>
    </div>

    <div class="row-fluid Testimonials">
        <div class="span4">
            <div class="thumbnail">
                <img alt="client" src="{% static "images/client1.jpg" %}" />

                <div class="caption">
                    <p>Flathost servers are having high physical security and
                    power redundancy Your data will be secure with us.</p>

                    <h5>James, Envato</h5>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="thumbnail">
                <img alt="client" src="{% static "images/client2.jpg" %}" />

                <div class="caption">
                    <p>With our ultra mordern servers and optical cables, your
                    data will be transfered to end user in milliseconds.</p>

                    <h5>Mariya, Activeden</h5>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="thumbnail">
                <img alt="client" src="{% static "images/client3.jpg" %}" />

                <div class="caption">
                    <p>We have a dedicated team of support for sales and
                    support to help you in anytime. You can also chat with
                    us.</p>

                    <h5>Steven, Microlancer</h5>
                </div>
            </div>
        </div>
    </div>