{% load i18n staticfiles %}
      <div class="container">     
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="hero-unit">
                <h1>
                  {% trans "Fast VPS Hosting Solution" %}
                </h1>
                <h3>
                  {% trans "2GBVP has the Fastes VPS and The VPS Price" %}
                </h3>
                <p class="hidden-phone">
                  
                  <a href="#pricing" class="btn btn-primary btn-large">
                    {% trans "Plans and Price" %}
                  </a>

                  <a href="#features" class="btn btn-success btn-large">
                    {% trans "Explore Features " %}
                  </a>
                  
                </p>
              </div>
            </li>
            <li>
              <div class="slide2">
                <p>
                  <img src="{% static "images/server1.png" %}" alt="server">
                </p>
                <h1>
                  {% trans "Dedicated and VIP Hosting" %}
                </h1>
              </div>
            </li>
            <li>
              <div class="slide3">
                <p class="pull-left">
                  <img src="{% static "images/server2.png" %}" alt="server">
                </p>
                <h1>
                  {% trans "Best Offers" %}
                </h1>
                <h3>
                  {% trans "2GBVP HAS the BEST Offers in Egypt " %}
                  {% trans "2GB 70 > LE" %}
                  <p class="hidden-phone">
                    <a href="#pricing" class="btn btn-success btn-large">
                      {% trans "Order Now " %}
                    </a>                 
                  </p>
                </h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
