   {% load staticfiles %}
  
          <div class="row-fluid PageHead">
        <div class="span12">
            <h1>More Features</h1>

            <h3>You will get lot of features with flathost</h3>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 features">
            <img alt="icon" src="{% static "images/setup_icon.png" %}" />

            <h4>Instant Setup</h4>

            <p>As soon as you make a successful payment via PayPal or Google
            Checkout, your web hosting and domain names will be activated
            immediately. No waiting time whatsoever.</p>
        </div>

        <div class="span6 features">
            <img alt="icon" src="{% static "images/backup_icon.png" %}" />

            <h4>Constant Backups</h4>

            <p>Your hosting account is backed up 4 times a day as standard,
            with our backup integration. We use dedicated backup servers,
            providing fast & easy individual file rollback abilities.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 features">
            <img alt="icon" src="{% static "images/git_icon.png" %}" />

            <h4>GIT/SVN Support</h4>

            <p>Web Developers love using version control systems. All of our
            hosting accounts can use GIT & SVN command line tools on our
            servers. Simply request SSH access to get started.</p>
        </div>

        <div class="span6 features">
            <img alt="icon" src="{% static "images/script_icon.png" %}" />

            <h4>280+ Install Scripts</h4>

            <p>All our hosting accounts allow you to install popular software
            such as Wordpress, Drupal, Joolma and Magento in one easy step.
            Upgrading your software is just as easy!</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 features">
            <img alt="icon" src="{% static "images/cpanel_icon.png" %}" />

            <h4>cPanel Included</h4>

            <p>All hosting accounts come with the latest version of cPanel.
            This makes life easy for you to do routine tasks such as setting up
            email addresses and managing MySQL databases.</p>
        </div>

        <div class="span6 features">
            <img alt="icon" src="{% static "images/php_icon.png" %}" />

            <h4>Latest PHP &amp; MySQL</h4>

            <p>Our network runs the latest stable and secure versions of PHP &
            MySQL. We also implement strict security and firewall rules
            protecting your website from unwanted visitors 24/7.</p>
        </div>
    </div>