 {% load staticfiles %}
    <div class="row-fluid FeatLayout">
        <div class="span5 Featimg"><img alt="feature" src=
        "{% static "images/features_img.png" %}" /></div>

        <div class="span7">
            <h1>Features Layout</h1>

            <h3>A left aligned image and content with tick</h3>

            <p>As soon as you make a successful payment via PayPal or Google
            Checkout, your web hosting and domain names will be activated
            immediately. No waiting time whatsoever. Our network runs the
            latest stable and secure versions of PHP &amp; MySQL.</p>

            <ul class="ticklist">
                <li>Dedicated Servers</li>

                <li>cPanel Access</li>

                <li>MySQL Databases</li>

                <li>Super Bandwidth</li>

                <li>Web Builder</li>

                <li>Web Secutity</li>
            </ul>
        </div>