{% load i18n sekizai_tags %}

{% addtoblock "js" %}
<script>
  $(function () {
    $('.month3').fadeIn();
    $('#tabOne').click(function(e) {
      $('.tab').removeClass("active");
      $('#tabOne').addClass("active");
      $('.plan').fadeOut();
      $('.month3').fadeIn();
    }
                      );
    $('#tabTwo').click(function(e) {
      $('.tab').removeClass("active");
      $('#tabTwo').addClass("active");
      $('.plan').fadeOut();
      $('.month2').fadeIn();
    }
                      );
    $('#tabThree').click(function(e) {
      $('.tab').removeClass("active");
      $('#tabThree').addClass("active");
      $('.plan').fadeOut();
      $('.month1').fadeIn();
    }
                        );
    
  }
   );
</script>
{% endaddtoblock %}

<div class="container">

<!-- 
<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
-->
<ul class="nav nav-pills nav-justified">
  <li class="active tab" id="tabOne">
    <a href="#">
      3 Month
    </a>
  </li>
  <li class="tab" id="tabTwo">
    <a href="#"  >
      2 Month
    </a>
  </li>
  <li class="tab" id="tabThree">
    <a href="#"  >
      1 Month
    </a>
  </li>
</ul>



<ul class="act-plans act-plans-biz clearfix">
  {% for plan in plans%}
  <li class="act-plan act-plan-biz plan month{{plan.months}}">
    <header class="act-plan-header act-plan-biz-header">
      <div class="price">
        <span class="symbol">
          {{plan.amount.currency}}
        </span>
        <span class="amount">
          {{plan.amount.amount}}
        </span>
        <span class="duration">
          /
          <strong>
            {{plan.months}}mo
          </strong>
        </span>
      </div>
      <span>
        {{plan.flavor.name_en}}
      </span>
    </header>
    <div class="act-plan-repos act-plan-biz-repos">
        {{plan.flavor.ram_mb}} MB RAM
    </div>
    <div class="act-plan-description">
      <ul class="act-plan-points">
        <ul class="info-list">
          <li>
            <span>
              {% trans "Disk space" %}
            </span>
            {% trans "Unlimited" %}
          </li>
          <li>
            <span>
              {% trans "Bandwidth" %}
            </span>
            {% trans "Unlimited" %}
          </li>
          <li>
            <span>
              {% trans "Ram" %}
            </span>
            <strong>
              {{plan.flavor.ram_mb}} MB
            </strong>
          </li>
          <li>
            <span>
              {% trans "Free IPV4" %}
            </span>
            <div  style="color: #468847;">
              ✔
            </div>
          </li>
          <li>
            <span>
              {% trans "Free SubDomain" %}
            </span>
            <div  style="color: #468847;">
              ✔
            </div>
          </li>
          <li>
            <span>
              {% trans "Free Email" %}
            </span>
            <div  style="color: #468847;">
              ✔
            </li>
            <li>
              <span>
                {% trans "Control Portal" %}
              </span>
              <div  style="color: #468847;">
                ✔
              </div>
          </li>
        </ul>
      </ul>
      <div class="aligncenter">
        <a href="/order/plan={{plan.id}}" class="btn btn-default">
          <span>
            <span>
              {% trans "Order Now" %}
            </span>
          </span>
        </a>
      </div>
    </div>
  </li>
  
  {%endfor%}
</ul>
</div>