 {% extends "base.html" %}
{% load i18n sekizai_tags staticfiles %}
{% block content %}
<style type="text/css">
.register {
position: relative;
margin-top: 20px;
padding: 20px 20px 20px;
background: rgba(255, 255, 255, 0.44);
border-radius: 3px;
-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 4px rgb(255, 255, 255), 0 1px 2px rgb(255, 255, 255);
}
</style>
<div class="container" style="margin-top: 30px;width:800">
<div class="" id="loginModal" style="">
    <div class="modal-header">
        <h3>Have an Account?<a class="btn btn-link" href="/login" >{% trans "Login" %}</a>
</h3>
    </div>
                <div class="register " id="create">
                    <form class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        {% if form1.errors or form2.errors %}<p>{% trans "Please correct the following fields:" %}</p>{% endif %}
                        <div class="form-group">
                            <!-- Username -->
                            <div class="register_div">
                                <label class="col-lg-2  control-label" >{% trans "First Name" %}</label>
                                <div class="col-lg-10  controls">
                                    {% if form1.first_name.errors %}<p class="error">{{ form1.first_name.errors }}</p>{% endif %}
                                    <p>{{ form1.first_name}}</p>
                                </div>
                                <label class=" col-lg-2 control-label" >{% trans "Last Name" %}</label>
                                    <div class="col-lg-10  controls">
                                    {% if form1.last_name.errors %}<p class="error">{{ form1.last_name.errors }}</p>{% endif %}
                                    <p>{{ form1.last_name}}</p>
                                </div>
                                <label class="col-lg-2  control-label" >{% trans "UserName" %}</label>
                                    <div class="col-lg-10 controls">
                                    {% if form1.username.errors %}<p class="error">
                                    {{ form1.username.errors }}</p>{% endif %}
                                    <p>{{ form1.username}}</p>
                                </div>
                            </div>
                        <label class="col-lg-2  control-label">{% trans "Email" %}</label>
                        <div class="register_div">
                            <div class="col-lg-10 controls">
                                {% if form1.email.errors %}<p class="error">{{ form1.email.errors }}</p>{% endif %}
                                <p>{{ form1.email }}</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="register_div">
                                <label class="col-lg-2  control-label" >{% trans "Mobile" %}</label>
                                <div class="col-lg-10 controls">
                                    {% if form2.phone_number.errors %}<p class="error">{{ form2.phone_number.errors }}</p>{% endif %}
                                    <p>{{ form2.phone_number }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="register_div">
                                <label class="col-lg-2  control-label" >{% trans "Gender" %}</label>
                                <div class="col-lg-10 controls">
                                    {% if form2.gender.errors %}<p class="error">{{ form2.gender.errors }}</p>{% endif %}
                                    <p>{{ form2.gender }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="register_div">
                                <label class="col-lg-2 control-label" >{% trans "date_Of_birth" %}</label>
                                <div class="col-lg-10 controls">
                                    {% if form2.date_Of_birth.errors %}<p class="error">{{ form2.date_Of_birth.errors }}</p>{% endif %}
                                    <p>{{ form2.date_Of_birth }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-lg-2  control-label">{% trans "Password" %}</label>
                            <div class="col-lg-10 controls">
                               {% trans " Password should be A Capital letter and a Small letter at least 8 characters" %}
                                {% if form1.password1.errors %}<p class="error">{{ form1.password1.errors }}</p>{% endif %}
                                <p>{{ form1.password1 }}</p>
                            </div>    
                        </div>                       
                        <label class ="hide " for="passwordStrength">{% trans "Password strength " %}</label>
                        <div class = "hide" id="passwordDescription">{% trans "Password not entered" %}</div>
                        <div class = "hide" id="passwordStrength" class="strength"></div>

                        <div class="control-group">
                            <label class="col-lg-2  control-label">{% trans "Password Confirmation" %}</label>
                            <div class="col-lg-10 controls">
                        <div class="register_div">
                            {% if form1.password2.errors %}
                            <p class="error">{{ form1.password1.errors }}</p>
                            {% endif %}
                            <p>{{ form1.password2 }}</p>
                            </div> 
                        </div >
                        <div class="control-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-2 controls">
                                <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Ld9WucSAAAAAA3rJKkysLxux8RZavsZy9Nntkk5">
                                </script> 
                                   {% if form2.captcha.errors %}<p class="error">{{ form2.captcha.errors }}</p>{% endif %}
                                    <p>{{ form2.captcha }}</p>
                            </div>    
                        </div> 
                        <br>
                        <div class="control-group">
                            <div class="col-lg-offset-2 col-lg-10  controls">
                                <button class="btn btn-success btn-lg btn-block" type="submit" alt="register">{% trans "Create Account" %}</button>
                            </div>
                        </div>

                    </form>
                </div>


<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

<form action="" method="post">

<div class = "header" >


<style type="text/css">
      .header {
        color: #333;
        font-family: 'Georgia';
        font-size: 35px;
        text-align: center;
}
      
    </style>
</div>
<center>
<div >




<div class = "registerationForm">


<script>

function passwordStrength(password)

{
    
     

        var desc = new Array();

        desc[0] = "Very Weak";

        desc[1] = "Weak";

        desc[2] = "Better";

        desc[3] = "Medium";

        desc[4] = "Strong";

        desc[5] = "Strongest";

    

        var score   = 0;
       
    
        if (password.length <=1) 
           $("password").click(function(){
            $(".hide").hide();
            });
        else 
            $(".hide").show();

        //if password bigger than 6 give 1 point
         


        if (password.length >= 6) score++;

        if (password.length > 6) score++;



        //if password has both lower and uppercase characters give 1 point      

        if ( ( password.match(/[a-z]/) ) && ( password.match(/[A-Z]/) ) ) score++;



        //if password has at least one number give 1 point

        if (password.match(/\d+/)) score++;



        //if password has at least one special caracther give 1 point

        if ( password.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/) ) score++;



        //if password bigger than 12 give another 1 point

        if (password.length > 12) score++;
        
        
         

         document.getElementById("passwordDescription").innerHTML = desc[score];

         document.getElementById("passwordStrength").className = "strength" + score; 

}
</script>
<div id = "pass" class="register_div">
</div>
</div>
</div>
</div>
</div>
{% endblock %}
