{% load i18n sekizai_tags %}

<div id="faded">
  <ul class="slides">
    <li><img src="images/slide-title1.gif" style="display: none"><div class="slidertext">{% trans "Learn More" %}</span></span></a></li>
    <li><img src="images/slide-title4.gif" style="display: none"><div class="slidertext">{% trans "6 Month Offer [Silver] 250 EGP" %}</div>
      <a href="#"><span><span>{% trans "Learn More" %}</span></span></a></li>
    <li><img src="images/slide-title3.gif" style="display: none"><div class="slidertext">{% trans "12 Month Offer [Silver] 250 EGP" %}</div>
      <a href="#"><span><span>{% trans "Learn More" %}</span></span></a></li>
    <li><img src="images/slide-title2.gif" style="display: none"><div class="slidertext">{% trans "3 Month Offer [Silver] 250 EGP" %}</div>
      <a href="#"><span><span>{% trans "Learn More" %}</span></span></a></li>
  </ul>
  <ul class="pagination">
    <li><a href="#" rel="0"><span>{% trans "3 Month Offers" %}</span><small>{% trans "Get more information" %}</small></a></li>
    <li><a href="#" rel="1"><span>{% trans "6 Month Offers" %}</span><small>{% trans "Get more information" %}</small></a></li>
    <li><a href="#" rel="2"><span>{% trans "150% Offer" %}</span><small>{% trans "Get more information" %}</small></a></li>
    <li><a href="#" rel="3"><span>{% trans "Dedicated" %}</span><small>{% trans "Get more information" %}</small></a></li>
  </ul>
</div>
