{% load i18n sekizai_tags %}

<div class="container" style="margin-top: 39px;">
<div id="faded1">
  <ul class="slides1">
    <li><div class="slidertext1">
  3 Month 2GB VPS [Silver Plan] - ONLY 310 EGP</div>
      <a href="/plan_order/6"><span><span>{% trans "Order Now" %}</span></span></a></li>


    <li><div class="slidertext1">{% trans "6 Month 2GB VPS [Silver Plan]- ONLY 555 EGP" %}</div>
      <a href="/plan_order/555"><span><span>{% trans "Order Now" %}</span></span></a></li>
    <li><div class="slidertext1">{% trans "2 Month 3GB VPS,Yes 3GB VPS - 2 Month 250 EGP ONLY" %}</div>
      <a href="#"><span><span>{% trans "Order Now" %}</span></span></a></li>
    <li><div class="slidertext1">{% trans "1 Month 2GB VPS [Silver] 85 EGP" %}</div>
      <a href="#"><span><span>{% trans "Order Now" %}</span></span></a></li>
  </ul>
  <ul class="pagination1">
    <li><a href="#" rel="0"><span>{% trans "3 Month Offers" %}</span><small>{% trans "Check This Awesome Offer" %}</small></a></li>
    <li><a href="#" rel="1"><span>{% trans "6 Month Offers" %}</span><small>{% trans "More Awesome Offers" %}</small></a></li>
    <li><a href="#" rel="2"><span>{% trans "150% Offer" %}</span><small>{% trans "2GB RAM Gone Crazy" %}</small></a></li>
    <li><a href="#" rel="3"><span>{% trans "2GB VPS" %}</span><small>{% trans "2GB VPS 1 Month for .." %}</small></a></li>
  </ul>
</div>
</div>

