      {% load i18n sekizai_tags staticfiles %}

      {% addtoblock "css" %}
      <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css" type="text/css" />
      {% endaddtoblock %}
      <style type="text/css" media="screen">
      .content-wrap section {
      position: relative;
      padding: 125px 0 25px 0;
      background: url(../images/section-sep.png) repeat-x left 25px;
      }
      .content-wrap section .no-bottom-margin {
      margin-bottom: 0;
      }
      index.htmlmedia="screen"
      .content-wrap section .row {
      clear: both;
      overflow: hidden;
      margin-bottom: 25px;
      }
      .content-wrap section .row .col {
      float: left;
      margin: 0;
      padding: 0;
      width: 290px;
      }
      .content-wrap section section {
      background: none;
      margin: 0;
      }
      .content-wrap section {
      position: relative;
      padding: 125px 0 25px 0;
      background: url(../images/section-sep.png) repeat-x left 25px;
      }
      .content-wrap section .row .col {
      float: left;
      margin: 0;
      padding: 0;
      width: 290px;
      }
      .h2{
      	font-size: 22px;
      	line-height: 25px;
      	margin-top: 10px;
      	margin-bottom: 15px;
      }

      .content-wrap section .row .mid {
      margin-left: 35px;
      margin-right: 35px;
      }
      .row .col {
        margin-left: 20px;
      float: left;
      margin: 0;
      padding: 0;
      width: 300px;
      }
      section#services .row .col img.align-left {
      margin-top: 13px;
      margin-right: 12px;
      float: left;
      }
      index.htmlmedia="screen"
      .align-left {
      float: left;
      }

      .col p{
        font-size: 14px;
      }

      </style>
      <div class="container">
      <!-- services -->
      <section id="services" >
             <div class="row no-bottom-margin">
                <section class="col">
                    <h2 class="h2">Location</h2>

                    <p><img class="align-left" alt="" src="{% static "images/services/webdesign.png" %}"/>All our Servers is located in Europe and mostly Germany so you are guaranteed  a greater service with greater internet connection </p>
                                   </section>
                                   <section class="col mid">
                                       <h2 class="h2">Bandwidth</h2>

                                       <p><img class="align-left" alt="" src="{% static "images/services/webdevelopment.png" %}" />Since we belive that Bandwidth souls never be a Limit to any user or VSP buyer we made it Unlimited</p>
                                   </section>

                                   <section class="col">
                                       <h2 class="h2">Network Speed</h2>

                                       <p><img class="align-left" alt="" src="{% static "images/services/seo-services.png" %}"/>We try our best to provide the users with there maxim speed so we offer all servers with speeds up to a Blazing 2000Mbit </p>

                                   </section>
                               </div>

                               <div class="row">
                                   <section class="col">
                                       <h2 class="h2">Hardware</h2>

                                       <p><img class="align-left" alt="" src="{% static "images/services/print-design.png" %}" />At 2GB-VPs we Offered the best hardware and we provided a fully dedicated ram all the vps plans.Your VPS also comes with  RAID10 HDD redundant performance storage. </p>
                                   </section>
                                   <section class="col mid">
                                       <h2 class="h2">2GB VPS ?</h2>

                                       <p><img class="align-left" alt="" src="{% static "images/services/logo-design-and-branding.png" %}" />We believe RAM shouldn't be an obstacle, that is why we at 2GB VPS.com give you 2GB enjoy. All  yours, dedicated 24/7.</p>
                                   </section>

                                   <section class="col">
                                       <h2 class="h2">Happy Customers</h2>

                                       <p><img class="align-left" alt="" src="{% static "images/services/newsletter.png" %}" />At 2GB VPs we believe "There is only one boss. The customer. And he can fire everybody in the company from the chairman on down, simply by spending his money somewhere else."</p>

                </section>
            </div>
      </section>
  </div>

